<div data-ng-controller="storeController">
  <section class="tab">
    <ul class="tab_nav">
      <li data-ng-class="{selected: isSelected(1)}">
        <a href data-ng-click="selectTab(1)">Description</a>
      </li>
      <li data-ng-class="{selected: isSelected(2)}">
        <a href data-ng-click="selectTab(2)">Specifications</a>
      </li>
      <li data-ng-class="{selected: isSelected(3)}">
        <a href data-ng-click="selectTab(3)">Reviews</a>
      </li>
    </ul>

    <div class="tab_panel" ng-show="isSelected(1)" ng-model="products">
      <h1>Description</h1>
      <p>{{description}}</p>
    </div>

    <div class="tab_panel" ng-show="isSelected(2)">
      <h1>Specifications</h1>
      <blockquote>None yet.</blockquote>
    </div>

    <div class="tab_panel" ng-show="isSelected(3)">
      <h1>Reviews</h1>
      <blockquote>None yet.</blockquote>
    </div>
  </section>

   <div class="gem-product" data-ng-repeat="gem in products">
    <h1> {{gem.name}} </h1>
    <h2> {{gem.price | currency}}</h2>
    <p> {{gem.description}} </p>
    <img data-ng-src="{{gem.image}}"/>
    <button data-ng-show="gem.canPurchase">Add to Cart</button>
  </div>

</div>
